/*global classes
==================================================*/
.header-font {
    font-family: 'Anton', sans-serif;
}

.text-font {
    font-family: 'Abel', sans-serif;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

.imgBorder{
    border: 8px solid #f0f0f0;
    border-radius: 5%;
}

/*header mobile
=======================================================*/

body, .jumbotron{
    background-color: #E6E6E6;
}

.logo{
    top: -60px;
    margin: auto;
    position: relative;
}

h1.codeup-header{
    position: relative;
    font-size: 10em;
    margin-top: -30px;
}


.header{
    background-color: white;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    width: auto;

}

.nav-links{
    color: #000;
}


/*main title and large circles
==============================================================*/

.main-title{
    font-size: 7em;
    margin: auto;
    text-align: center;
    width: auto;
    float: left;
    /*height: 64px;*/
}

.sub-title {
    font-size: 4em;
    margin: auto;
    text-align: center;
    width: auto;
    height: 48px;
}

.sub-spacing {
    margin-top: 6em;
    margin-bottom: 10em;
}

.head-space {
    margin-right: 0;
}
.text-center {
    font-size: 4em;
}

.circle-large {
    border: 25px solid white;
    height: 20%;
    width: 48%;
    border-radius: 100%;
    color: white;
    text-align: center;
    position: relative;
    line-height: 350px;
    box-sizing: border-box;
    margin-left: 2%;
    margin-bottom: 5%;
    font-size: 50px;
}

/*selected work section
================================================================*/
.selected-work{
    margin-top: 25%;
}

.circle-small {
    border: 1px transparent;
    border-radius: 100%;
    width: 20%;
    text-align: center;
    line-height: 25px;
    display: inline-block;
}

.feature-label{
    padding: 0 40px;
}

.imgFooter{
    display: inline-block;
    font-size: 40px;
}