/*global classes
==================================================*/
.header-font {
    font-family: 'Anton', sans-serif;
}

.text-font {
    font-family: 'Abel', sans-serif;
}


/*header mobile
=======================================================*/

body, .jumbotron {
    background-color: #E6E6E6;
}

.logo {
    top: -60px;
    margin: auto;
    position: relative;
}

h1.codeup-header {
    position: relative;
    font-size: 10em;
    margin-top: -30px;
}


.header {
    background-color: white;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    width: auto;

}

.main-header{
    font-size: 8em;
    margin: auto;
    text-align: center;
    width: auto;
    float: left;
}

.head-space {
    margin-right: 0;
}
.text-center {
    font-size: 4em;
}
